*{
    margin: 0;
    padding: 0;
}

.wrapper{
    max-width: 320px;
    margin: 0 auto;
    text-align: center;
}
.header{
    border-bottom: 5px solid #0088BF;
}
.wrapper .title{
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0 10px 0;
    border-bottom: 3px solid #0088BF;

}
.wrapper .text{
    font-size: 20px;
    padding: 20px 0 0 0;
}
.wrapper .text:last-child{
    padding-bottom: 50px;
}
.wrapper img{
    max-width: 320px;
    padding: 10px 0 20px 0;
}
.wrapper a{
    display: inline-block;
    font-size: 25px;
    text-decoration: none;
    color: #0088BF;
    margin: 10px 0;
}